.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  padding: 40px;
  font-family: Arial;
  text-align: center;
  
}
.home {
  /* background-color: #282c34; */
  background-image: url(/public/verde.jpg);
  background-size:100%;
  background-repeat:no-repeat;
  font-size: large;
  color: #0a0a0a;
  padding: 30px;
  font-family: Arial;
  text-align: center;
 
}
.texto{

  text-align: justify;
}
.register{
  background-color: #bff896;
  color: #0a0a0a;
  font-family: Arial;
  text-align: center;
  background-image: url(/public/download.png);
  background-repeat: repeat-x;
}

.float-center {
  padding-top: 10%;
}

/* .navbar {
  display: flex;
  position: relative;
  justify-items: center;
  justify-content:space-between;
  background-color: #81d323;
  border-bottom: 1px solid #dfdfdf;
  overflow: hidden;
  height: 50px;

} */


  .sidebar {
    height: 125%;
    width: 100px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 30px;
    background-color: rgb(86, 137, 31);

 
    }
    
    .sidebar div {
    padding: 6px;
    font-size: 24px;
    display: block;
    }
    
    .body-text {
    margin-left: 150px;
    font-size: 18px;
    }

.logout{
  background-color: #63c622;
  
}

a:link {
  background-color: rgb(86, 137, 31);
  color: rgb(16, 15, 15);
  padding: 14px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(233, 240, 243);
}


.nav-link{
  background-color: #96ef66;
  text-align: left;
  height: 10%;
  width: 30px;
  position: absolute;
  left: 0;
  top: 165px;
  
}

.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #0b0b0b, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}
.wrapper {
  max-width: 450px;
  min-height: 400px;
  margin: 80px auto;
  padding: 30px 120px 5px 30px;
  background-color: #ecf0f3;
  border-radius: 25px;
  inline-size: 20%;
}
.create{
  background-color: #f0f4f6;
}
.bottom{
  background-color: #f0f4f6;
}
.wrapper .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: rgb(6, 6, 6)
}
.wrapper .form-field input {
    padding-left: 60px;
    margin-bottom: 30px;
    border-radius: 50px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

.wrapper .form-field .fas {
    color: rgb(164, 44, 44)
}
.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: rgb(92, 221, 60);
  color: rgb(16, 15, 15);
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px
}
.wrapper .btn:hover {
  background-color: #039BE5
}
.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03A9F4
}

.wrapper a:hover {
  color: #039BE5
}

.choose{
background-color: #dff9d0;
background-image: url(/public/download.png);
background-repeat: repeat-x;
/* border-bottom: #5abe43; */
text-align: center;
padding-top: 14%;
 }
 

 .link{
   color:#0a0a0a;
 }

 

 .joinpage{
  background-image: url(/public/join.jpg);
  background-repeat: repeat-x;
  background-color: #8de347;
  padding-top: 10%;
  background-color: #81d323;
  border-bottom: 0.1px solid #dfdfdf;
  text-align: left;
 }

 .form{
   background-color: #8df664b2;
 }
 .saveEvent{
   background-color: #61d2fb;
   width: 10%;
 }
 .deleteEvent{
  background-color: #61d2fb;
 }

 .form-group {
   background-color: #7dcb24;
 }
 .newEvent{
   background-color:#61d2fb ;
   width: 10%;
 }
 .formgroup{
   background-color: #7dcb24;
 }
 @media(max-width: 380px) {
  .wrapper {
      margin: 30px 20px;
      padding: 40px 15px 15px 15px
  }
 }